{% extends 'base.html' %}

{% block title %}Solicitudes de Registro{% endblock %}

{% block content %}
<div class="container">
    <h1>Solicitudes de Registro</h1>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Empresa</th>
                        <th>Tipo</th>
                        <th>Estado</th>
                        <th>Fecha</th>
                    </tr>
                </thead>
                <tbody>
                    {% for solicitud in solicitudes %}
                    <tr>
                        <td>{{ solicitud.nombre_empresa }}</td>
                        <td>{{ solicitud.tipo_empresa }}</td>
                        <td>{{ solicitud.estado }}</td>
                        <td>{{ solicitud.fecha_creacion }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}